.timeline {
	position: relative;
	&-year {
		font-weight: 700;
		font-size: clamp(56px, 10.42vw, 200px);
		line-height: 0.8;
		letter-spacing: -0.02em;
		text-align: center;
		color: var(--color-iris);
	}
	&-year--end {
		color: var(--color-fuschia);
	}
	.vertical-line {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 2px;
		background-color: var(--color-dark-slate-blue);
		opacity: 0.1;
		&--left {
			left: 0;
		}
		&--middle {
			left: 50%;
			transform: translateX(-50%);
		}
		&--right {
			right: 0;
		}
	}
	.horizontal-line {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 2px;
		background-color: var(--color-dark-slate-blue);
		opacity: 0.1;
	}

	&-wrapper {
		position: relative;
		max-width: 1440px;
		min-height: 100dvh;
		margin-left: 160px;
	}
	&-title {
		max-width: 343px;
		position: relative;
		font-weight: 700;
		font-size: clamp(20px, 2.92vw, 56px);
		line-height: 1.2;
		color: var(--color-dark-blue);
		padding-left: 1.43em;
	}
	&-title:before {
		content: '';
		position: absolute;
		left: 0;
		background-image: linear-gradient(to bottom, #3877ee, #ef5da8);
		background-repeat: no-repeat;
		background-size: 5px 100%;
		background-position: center;
		width: 6px;
		height: 120px;
	}
}
